{% from "_render_field.html" import render_field %}

{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('place.edit', id=place.id) }}">
	{{ form.hidden_tag() }}

	{{ render_field(form.name )}}
	{{ render_field(form.description )}}

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Address</label>
		<div class="col-sm-10">
			{{ form.adr_street(class_="form-control") }}
			<div class="row">
				<div class="col-sm-7">
					{{ form.adr_city(class_="form-control") }}
				</div>
				<div class="col-sm-2">
					{{ form.adr_state(class_="form-control") }}
				</div>
				<div class="col-sm-3">
					{{ form.adr_zip(class_="form-control") }}
				</div>
			</div>
		</div>
	</div>

	{{ render_field(form.website_url )}}
	{{ render_field(form.yelp_url )}}


	<button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
